@model IEnumerable<Anasayfa>



@foreach (var item in Model)
{
   <div class="col-lg-4 order-lg-1" id="Welcome">
      <span class="section-subtitle" data-aos="fade-up">@item.Baslik</span>
      <h1 class="mb-4" data-aos="fade-up">
         @item.Aciklama1
      </h1>
      <p data-aos="fade-up">
         @item.Aciklama2
      </p>
   </div>
}
