@{
   ViewData["Title"] = "Blog";
   Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Title -->
<div class="page-title light-background">
   <div class="container">
      <h1>Blog</h1>
      <nav class="breadcrumbs">
         <ol>
            <li><a href="/Home/Index">Anasayfa</a></li>
            <li class="current">Blog</li>
         </ol>
      </nav>
   </div>
</div><!-- End Page Title -->
@await Component.InvokeAsync("_BlogPostComponentPartial")

