
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Page Title -->
<div class="page-title light-background">
   <div class="container">
      <h1>İletişim</h1>
      <nav class="breadcrumbs">
         <ol>
            <li><a href="/Home/Index">Anasayfa</a></li>
            <li class="current">İletişim</li>
         </ol>
      </nav>
   </div>
</div><!-- End Page Title -->
<!-- Contact Section -->
<section id="contact" class="contact section">

   <div class="container" data-aos="fade">

      <div class="row gy-5 gx-lg-5">

         @await Component.InvokeAsync("_LeftContactComponentPartial")

         @await Component.InvokeAsync("_RightContactComponentPartial")

      </div>

   </div>

</section><!-- /Contact Section -->

